* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

html, body {
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

h1 {
    font-size: 5.5rem;
    line-height: 1.11;
    font-weight: 800;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all ease-in-out .05s;
    font-size: 1rem;
}

button:hover {
    opacity: 0.8;
}

ul, li {
    font-size: 1.125rem;
    color: gray;
    list-style: none;  
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .container {
    width: 100%;
    max-width: var(--max-width);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #e4e4e7;
    margin: 100px 0;
}

.section-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.section-title .section-title__container {
    width: 100%;
    max-width: 50rem;
}

.section-title .section-title__container h2 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 25px;
}

.section-title .section-title__container p {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.825rem;
}